
.mainResult {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.negativeResult {
  background-color: red;
  color: white;
}
.positiveResult {
  background-color: green;
  color: white;
}
